<app-topbar></app-topbar>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
<h4 class="card-title text-primary my-4">Manage Project</h4>
<!-- <button (click)="openDialogAdd()">Add</button> -->
<div class="d-flex justify-content-between align-items-center admin-header">

    <br>
    <table class="table table-bordered" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="project_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> project_name </th>
            <td mat-cell *matCellDef="let element">{{element?.project_name | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="description" style="color:red">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> description </th>
            <td mat-cell *matCellDef="let element">{{element?.description }} </td>
        </ng-container>
        <ng-container matColumnDef="startDate" style="color:red">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> startDate </th>
            <td mat-cell *matCellDef="let element">{{ element?.startDate | date:'yyyy-MM-dd' }} </td>
        </ng-container>
        <ng-container matColumnDef="endDate" style="color:red">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> endDate </th>
            <td mat-cell *matCellDef="let element">{{ element?.endDate | date:'yyyy-MM-dd' }} </td>
        </ng-container>
        <ng-container matColumnDef="project_manager" style="color:red">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> project_manager </th>
            <td mat-cell *matCellDef="let element">{{element?.project_manager }} </td>
        </ng-container>
        <ng-container matColumnDef="team_members" style="color:red">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> team_members </th>
            <td mat-cell *matCellDef="let element">{{element?.team_members }} </td>
        </ng-container>
        <ng-container matColumnDef="domain" style="color:red">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> domain </th>
            <td mat-cell *matCellDef="let element">{{element?.domain }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
                <!-- <a class="pointer" (click)="openDialogUpdate(element._id)"><span><i class="fas fa-pencil-alt" style="color: red;"></i></span></a>&nbsp;
                <a class="pointer" (click)="deleteItem(element._id)"><span><i class="fa fa-trash"
                            title="Delete"></i></span></a> -->
                            <a class="pointer" (click)="openDialogUpdate(element._id)"><span><i class="fas fa-pencil-alt" style="color: red;"></i></span></a>&nbsp;
                            <a class="pointer" (click)="deleteItem(element._id)" style="color: blue;"><span><i class="fa fa-trash"
                                        title="Delete"></i></span></a>
            </td>
        </ng-container>
        <br>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
</div></div>
<app-footer></app-footer>
