<app-topbar></app-topbar>
<app-navbar></app-navbar>

<body>
  <div class="container mt-3 pt-3" style="margin-left:15%; max-width: 70%;">
   
    <form class="row g-3" [formGroup]="changePasswordForm" >
      <div class="col-12">
        <h1 class="text-center fw-bolder">Change password here</h1>
      </div>
  
      <span style="background-color: red;">{{error}}
      </span>
      <div class="col-12">
        <label for="emailName" class="form-label">Email</label>
        <input type="email" [value]="u_email" class="form-control" name="email" placeholder="Please enter email"
          formControlName="email" readonly>

      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">Current Password</label>
        <input type="password" [value]="current_password" class="form-control" name="currentPassword"
          placeholder="Please Enter currentPassword" formControlName="currentPassword">


      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">New Password</label>
        <input type="password" [value]="new_password" class="form-control" name="newPassword"
          placeholder="Please Enter newPassword" formControlName="newPassword">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Confirm password</label>
        <input type="password" [value]="confirm_Password" class="form-control" name="confirmPassword"
          placeholder="Please Enter confirmPassword" formControlName="confirmPassword">
      </div>
      <!-- <h6 class="forget_password" (click)="forgetToggle()">Forget password</h6><br><br> -->
      <button class="btn btn-primary col-lg-3 m-auto my-3" (click)="onsubmit()">Submit</button>
    </form>
<!-- ====================forget form here -->
  </div>
  <app-footer></app-footer>




  <!-- <app-topbar></app-topbar>
<app-navbar></app-navbar>
<form class="row g-3" [formGroup]="changePasswordForm">
  <p>test</p>
  <div class="form-group">
    <label>Email</label>
    <input id="email" type="email" placeholder="Enter your email address" value="{{useremail}}" formControlName="email">

  </div>

  <div class="form-group">
    <label>Current Password</label>

    <input type="text" [value]="current_password" placeholder="Enter domain" name="currentPassword"
      formControlName="currentPassword">

  </div>
  <div class="form-group">
    <label>New Password</label>

    <input type="text" [value]="new_password" placeholder="Enter newPassword" name="newPassword"
      formControlName="newPassword">


  </div>


  <div class="form-group">
    <label>Confirm Password</label>

    <input type="text" [value]="confirm_Password" placeholder="Enter newPassword" name="confirmPassword"
      formControlName="confirmPassword">

  </div>
  <button (click)="onsubmit()">Submit</button>

</form>

<app-footer></app-footer> -->