<app-topbar></app-topbar>
<!-- <app-navbar></app-navbar> -->

<body>
  <div class="container mt-3 pt-3" style="margin-left:25%; max-width: 50%;">
   
    <form class="row g-3 p-4 rounded" [formGroup]="changeForgetPasswordForm" style="border: 1px solid #ced4da; margin-top:5%">
      <div class="col-12">
        <h1 class="text-center fw-bolder">Change password here</h1>
      </div>
      <!-- <span style="background-color: red;">{{error}}</span> -->
    
      <div class="col-md-12"><!-- Use a single column for both input fields -->
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input type="password" class="form-control" name="newPassword" placeholder="Please Enter newPassword" formControlName="newPassword">
        </div>
        
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm password</label>
          <input type="password" class="form-control" name="confirmPassword" placeholder="Please Enter confirmPassword" formControlName="confirmPassword">
        </div>
      </div>
      <button class="btn btn-primary col-lg-3 m-auto my-3" (click)="onSubmit()">Submit</button>
      <!-- Other form elements or buttons can be added here -->

    </form>
  </div>
  <app-footer></app-footer>
</body>




<!-- <app-topbar></app-topbar>
<app-navbar></app-navbar>

<body>
  <div class="container mt-3 pt-3" style="margin-left:15%; max-width: 70%;">
   
    <form class="row g-3" [formGroup]="changeForgetPasswordForm" >
      <div class="col-12">
        <h1 class="text-center fw-bolder">Change password here</h1>
      </div>
  
      <span style="background-color: red;">{{error}}
      </span>
    
    
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">New Password</label>
        <input type="password"  class="form-control" name="newPassword"
          placeholder="Please Enter newPassword" formControlName="newPassword">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Confirm password</label>
        <input type="password"  class="form-control" name="confirmPassword"
          placeholder="Please Enter confirmPassword" formControlName="confirmPassword">
      </div>
      <h6 class="forget_password" (click)="forgetToggle()">Forget password</h6><br><br>
      <button class="btn btn-primary col-lg-3 m-auto my-3" (click)="onsubmit()">Submit</button>
    </form>
  </div>
  <app-footer></app-footer> -->



